 <div class="simple-article simple-article-style"> 
  <div class="simple-article__foto">
    <img  
      class="simple-article__image" 
      src="{{ article.image.src | img_url: 'master'}}" 
      alt="article"
    >
    <span class="article_bage">{{ blog.title }}</span>
  </div>
  
  <div class="simple-article-info">
    <a style="text-decoration: none;" href="{{ article.url}}">
      <div class="simple-article-info__title">{{ article.title }}</div>
    </a>
    <div class="simple-article-info__date">{{ article.created_at | time_tag: format: 'date' }}</div>
  </div>
  <div class="article-footer">
    <div class="article-footer__left">
      {% if article.user.image != blank %}
        <div class="article-footer__icon">
          <img src="{{ article.user.image | img_url: 'master' }}" alt="{{ article.author }}">
        </div>  
      {% endif %}
      <div class="article-footer__name">{{ article.author}} </div>
    </div>

    <div class="article-footer__right">
      <a class="article-footer__link" href="{{ article.url }}">{{ 'general.continue_shopping' | t }}
        {% render 'icon-arrow-right' %}
      </a>
    </div>
  </div>
</div>

