{{ 'all-blogs.css' | asset_url | stylesheet_tag }}
 
<div class="simple-article simple-article-style"> 
  <div class="simple-article__foto">
    <img  
      class="simple-article__image" 
      src="{{ article.image.src | img_url: 'master'}}" 
      alt="article"
    >
    <span class="article_bage">{{ blog.title }}</span>
  </div>

  

  <div class="simple-article-info">
    <a style="text-decoration: none;" href="{{ article.url}}">
      <div class="simple-article-info__title">{{ article.title }}</div>
    </a>
    <div class="simple-article-info__date">{{ article.created_at | time_tag: format: 'date' }}</div>
  </div>
  <div class="article-footer">
    <div class="article-footer__left">
      <div class="article-footer__icon">
        <img src="https://cdn.shopify.com/s/files/1/0552/8682/5006/files/Avatar_cd0e086a-ae71-464e-8bbb-33b48efe3f08.png?v=1663966774" alt="">
      </div>  
      <div class="article-footer__name">{{ article.author}} </div>
    </div>

    <div class="article-footer__right">
      <a class="article-footer__link" href="{{ article.url }}">More
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1812_7851)">
          <path d="M5 12.5H19" stroke="#283C92" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12 5.5L19 12.5L12 19.5" stroke="#283C92" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
          <clipPath id="clip0_1812_7851">
          <rect width="24" height="24" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
          </defs>
        </svg>
      </a>
    </div>
  </div>
</div>

