{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'custom_login.css' | asset_url | stylesheet_tag }}
<script src="{{ 'Show_password.js' | asset_url }}"></script>
{%- if recover_success == true -%}
  {% section 'recovery_password_massage' %}
  {% else %}


<div class="body-login page-width-desktop" >
    <div id="recover" tabindex="-1" class="left-block-password-recovery">
      {% section 'left-block-password-recovery' %}
    </div>
    <div>
      {%- form 'recover_customer_password' -%}
        {% assign recover_success = form.posted_successfully? %}
      <div class="custom-recover_password">
        <div class="field">
          <label for="RecoverEmail" class="label-for-input_recover">{{ 'customer.login_page.email' | t }}</label>
          <input type="email"
                 class="login-form"
                 value=""
                 name="email"
                 id="RecoverEmail"
                 autocorrect="off"
                 autocapitalize="off"
                 autocomplete="email"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="RecoverEmail-email-error"
                    autofocus
                  {% endif %}
          ><span class="icon_email_lock">{% render 'icon-email' %}</span>
        </div>
        {%- if form.errors -%}
          <small id="RecoverEmail-email-error" class="form__message">
            <span class="icon-attention">{% render 'icon-attention' %}</span>
            {{ form.errors.messages['form'] }}
          </small>
        {%- endif -%}
        <p class="text-description-under-input">
          {{ 'customer.recover_password.subtext' | t }}
        </p>
      </div>
        <div class="two_btn_password_recovery">
        <button class="btn-secondary button-login">
          {{ 'customer.login_page.submit' | t }}<span>{% render 'icon-send' %}</span>
        </button>
        <a href="#login" class="register_href">
          {{ 'customer.login_page.cancel' | t }}
        </a>
        </div>
      {%- endform -%}
    </div>

  <div id="login" class="left_block">
    {% section 'left_block-login' %}
    <div class="customer login">
      <div>
        {%- form 'customer_login', novalidate: 'novalidate' -%}
          {%- if form.errors -%}
            <style>
              #CustomerPassword,
              #CustomerEmail{
                border: 1px solid #F8989E;
                color: #F8989E;
              }
              .icon-lock-red {
                display: block;
                position: absolute;
                top: 5rem;
                left: 2rem;
              }
              span.icon_email_lock {
                display: none;
              }
            </style>
          {%- endif -%}
          <div class= "email-form">
            <div class="field">
              <label for="CustomerEmail" class="label-for-input">{{ 'customer.login_page.email' | t }}</label>
              <input
                      type="email"
                      class="login-form"
                      name="customer[email]"
                      id="CustomerEmail"
                      autocomplete="email"
                      autocorrect="off"
                      autocapitalize="off"
                      {% if form.errors contains 'form' %}
                        aria-invalid="true"
                      {% endif %}
                      placeholder="{{ 'customer.login_page.email' | t }}"
              ><span class="icon_email_lock">{% render 'icon-email' %}</span>
              {%- if form.errors -%}
                <div class="error-message">
                  <span>{% render 'icon-info-square' %}</span>
                  <span>{{ 'accessibility.error' | t }} </span>
                </div>
              {% endif %}
            </div>

            {%- if form.password_needed -%}
              <div class="field email-form_login">
                <label for="CustomerPassword" class="label-for-input">
                  {{ 'customer.login_page.password' | t }}
                </label>
                <input
                        type="password"
                        class="login-form"
                        value=""
                        name="customer[password]"
                        id="CustomerPassword"
                        autocomplete="current-password"
                        {% if form.errors contains 'form' %}
                          aria-invalid="true"
                        {% endif %}
                        placeholder="{{ 'customer.login_page.password' | t }}"
                ><span class="icon-lock-red">{% render 'icon-lock-red' %}</span><span class="icon_email_lock">{% render 'icon-lock' %}</span><span id="hide-password" class="icon_email_eye" onclick="ShowPassword()">{% render 'remove_red_eye' %}</span><span onclick="HidePassword()" id="close-password" class="icon-close-password">{% render 'icon-close-password' %}</span>
                {%- if form.errors -%}
                  <div class="error-message">
                    <span>{% render 'icon-info-square' %}</span>
                    <span>{{ 'accessibility.error' | t }} </span>
                  </div>
                {% endif %}
              </div>
              <a href="#recover" class="recover_href">
                {{ 'customer.login_page.forgot_password' | t }}
              </a>
            {%- endif -%}
          </div>
          <div class="button_and_create_account">
            <button class="button-login btn-secondary" >
              {{ 'customer.login_page.sign_in' | t }}
              {% render 'icon-login' %}
            </button>

            <a href="{{ routes.account_register_url }}" class="register_href">
              {{ 'customer.login_page.create_account' | t }}
            </a>
          </div>
        {%- endform -%}
      </div>

      {%- if shop.checkout.guest_login -%}
        <div>
          <hr>
          <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

          {%- form 'guest_login' -%}
            <button btn-secondary button-login>
              {{ 'customer.login_page.guest_continue' | t }}
            </button>
          {%- endform -%}
        </div>
      {%- endif -%}
  </div>
  </div>
</div>
{%- endif -%}