{% if section.settings.background != blank %}
    <style>
        @media only screen and (min-width: 990px){
            .about-us-banner{
                background-image: url('{{section.settings.background | img_url: 'master' }}')
            }
        }
    </style>
{% endif %}
{% if section.settings.background_mobile != blank %}
    <style>
        @media only screen and (max-width: 989px){
            .about-us-banner{
                    background-image: url('{{section.settings.background_mobile | img_url: 'master' }}')
            }
        }
    </style>
{% endif %}
<section class="about-us-banner background-image">
    <div class="page-width-desktop about-us-banner__container" data-aos="fade-up">
        <div class="about-us-banner__text">
            {% if section.settings.title != blank %}
                <h1 class="h1">{{section.settings.title}}</h1>
            {% endif %}
            {% if section.settings.subtitle != blank %}
                <h4>{{section.settings.subtitle}}</h4>
            {% endif %}
            {% if section.settings.text != blank %}
                <p class="description">{{section.settings.text}}</p>
            {% endif %}
            <a class="btn-secondary desktop-screen" href="{{section.settings.btn_url}}">{{section.settings.btn_text}} {% include 'icon-cart-btn' %}</a>
        </div>
        <div class="about-us-banner__position">
            {% if section.settings.main_photo != blank %}
                <div class="main-banner__image">
                    <img class="main-photo" src="{{section.settings.main_photo | img_url: 'master' }}" alt="">
                    {% if section.settings.small_photo != blank %}
                        <img class="about-us-banner__fixed desktop-screen" src="{{section.settings.small_photo | img_url: 'master' }}" alt="">
                    {% endif %}
                </div>
            {% endif %}
            {% if section.settings.text_bottom != blank %}
                <div class="content-absolute-text">
                    {{section.settings.text_bottom}}
                </div>
            {% endif %}
            <a class="btn-secondary mobile-screen" href="{{section.settings.btn_url}}">{{section.settings.btn_text}} {% include 'icon-cart-btn' %}</a>
        </div>
    </div>
</section>
{% schema %}
{
  "name": "About Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background Desktop"
        },
        {
            "type": "image_picker",
            "id": "background_mobile",
            "label": "Background Mobile"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "info": "Choose Bold to change the color"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Btn Url"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Btn Text"
        },
        {
            "type": "image_picker",
            "id": "main_photo",
            "label": "Main Photo"
        },
        {
            "type": "image_picker",
            "id": "small_photo",
            "label": "Small Photo"
        },
        {
            "type": "text",
            "id": "text_bottom",
            "label": "Text in Block"
        }
    ]
}
{% endschema %}
