{% if section.settings.background != blank %}
    <style>
        @media only screen and (min-width: 990px){
            .discount-left-image{
                background-image: url('{{section.settings.background | img_url: 'master' }}')
            }
        }
    </style>
{% endif %}
{% if section.settings.background_mobile != blank %}
    <style>
        @media only screen and (max-width: 989px){
            .discount-left-image{
                    background-image: url('{{section.settings.background_mobile | img_url: 'master' }}')
            }
        }
    </style>
{% endif %}
{% if section.settings.wave != blank %}
    <style>
        .discount-left-image_wave{
                background-image: url('{{section.settings.wave | img_url: 'master' }}')
        }
    </style>
{% endif %}
{% if section.settings.wave != blank %}
    <style>
        @media only screen and (max-width: 989px){
            .discount-left-image_wave{
                    background-image: url('{{section.settings.wave_mobile | img_url: 'master' }}')
            }
        }
    </style>
{% endif %}
<section class="discount-left-image background-image">
    <div class="page-width-desktop discount-left-image__container">
        <div class="discount-left-image_wave">
            {% if section.settings.main_photo != blank or section.settings.discount_total != blank%}
                <div class="discount-left-image__image">
                    {% if section.settings.main_photo != blank%}
                        <img src="{{section.settings.main_photo | img_url: 'master' }}" alt="">
                    {% endif %}
                    <h6>{{section.settings.limit}}</h6>
                </div>
            {% endif %}
            <div class="discount-left-image__text">
                {% if section.settings.title != blank %}
                    <h2 class="h2">{{section.settings.title}}</h1>
                {% endif %}
                {% if section.settings.btn_text != blank %}
                    <a class="btn-secondary desktop-screen" href="{{section.settings.btn_url}}">{{section.settings.btn_text}}</a>
                {% endif %}
            </div>
            <div class="discount-left-image__price">
                {% if section.settings.price != blank %}
                    <h6 class="price"><span>$</span>{{section.settings.price}}</h6>
                {% endif %}
                {% if section.settings.price != blank %}
                    <span class="usual-price">{{section.settings.usual_price}}</span>
                {% endif %}
                {% if section.settings.btn_text != blank %}
                    <a class="btn-secondary mobile-screen" href="{{section.settings.btn_url}}">{{section.settings.btn_text}}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% schema %}
{
  "name": "Discount Image Left",
    "settings": [
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background Desktop"
        },
        {
            "type": "image_picker",
            "id": "background_mobile",
            "label": "Background Mobile"
        },
        {
            "type": "image_picker",
            "id": "wave",
            "label": "Wave Image"
        },
        {
            "type": "image_picker",
            "id": "wave_mobile",
            "label": "Wave Image Mobile"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "info": "Choose Bold to change the color"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Btn Text"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Btn Url"
        },
        {
            "type": "text",
            "id": "price",
            "label": "Price"
        },
        {
            "type": "text",
            "id": "usual_price",
            "label": "Usual price"
        },
        {
            "type": "image_picker",
            "id": "main_photo",
            "label": "Main Photo"
        },
        {
            "type": "text",
            "id": "limit",
            "label": "Limited Stock"
        }
    ],
    "presets": [
        {
        "name": "Discount Banner Image Left"
        }
    ]
}
{% endschema %}
