{% if section.settings.background != blank %}
    <style>
        @media only screen and (min-width: 990px){
            .info-section{
                background-image: url('{{section.settings.background | img_url: 'master' }}')
            }
        }
    </style>
{% endif %}
{% if section.settings.background_mobile != blank %}
    <style>
        @media only screen and (max-width: 989px){
            .info-section{
                    background-image: url('{{section.settings.background_mobile | img_url: 'master' }}')
            }
        }
    </style>
{% endif %}
<div class="info-section background-image">
    <div class="page-width-desktop info-section__blocks">
        <div class="first_block">
            {% if section.settings.title != blank %}
                <h5 class="h5">{{section.settings.title}}</h5>
            {% endif %}
            <div class="years_block">
                <div class="content-way">
                    <small {% if section.settings.year_from_color != blank %} style="color: {{section.settings.year_from_color}}" {% endif %}></small>
                    <span {% if section.settings.year_from_color != blank %} style="color: {{section.settings.year_from_color}}" {% endif %}></span>
                    <small {% if section.settings.year_to_color != blank %} style="color: {{section.settings.year_to_color}}" {% endif %}></small>
                </div>
                <div class="content-date">
                    <p class="h2" {% if section.settings.year_from_color != blank %} style="color: {{section.settings.year_from_color}}" {% endif %}>{{section.settings.year_from}}</p>
                    <p class="h2" {% if section.settings.year_to_color != blank %} style="color: {{section.settings.year_to_color}}" {% endif %}>{{section.settings.year_to}}</p>
                </div>
            </div>
        </div>
        <div class="second_block">
            <a class="btn-primary" href="{{section.settings.btn_url}}">{{section.settings.btn_text}}</a>
            <h2 class="h2">{{section.settings.title_second}}</h2>
            <div class="text">{{section.settings.text_second}}</div>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Info Section",
    "settings": [
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background Desktop"
        },
        {
            "type": "image_picker",
            "id": "background_mobile",
            "label": "Background Mobile"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Title First Section",
            "info": "Choose Bold to change the color"
        },
        {
            "type": "text",
            "id": "year_from",
            "label": "Year From"
        },
        {
            "type": "color",
            "id": "year_from_color",
            "label": "Year From Color"
        },
        {
            "type": "text",
            "id": "year_to",
            "label": "Year To"
        },
        {
            "type": "color",
            "id": "year_to_color",
            "label": "Year To Color"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Btn Text"
        },
        {
            "type": "text",
            "id": "btn_url",
            "label": "Btn Url"
        },
        {
            "type": "text",
            "id": "title_second",
            "label": "Title Second Section"
        },
        {
            "type": "richtext",
            "id": "text_second",
            "label": "Text Second Section"
        }
    ],
    "presets": [
        {
        "name": "Info Section"
        }
    ]
}
{% endschema %}