<div class="instruction-section">
    <div class="page-width-desktop instruction-section__blocks" data-aos="fade-up">
        <div class="instruction-section__content">
            {% if section.settings.btn_text_top != blank %}
                <a class="btn-primary" href="{{section.settings.btn_url_top}}">{{section.settings.btn_text_top}}</a>
            {% endif %}
            {% if section.settings.title != blank %}
                <h2 class="h2">{{section.settings.title}}</h2>
            {% endif %}
            {% if section.settings.subtitle != blank %}
                <h5 class="h5">{{section.settings.subtitle}}</h5>
            {% endif %}
            {% if section.settings.text != blank %}
                <div class="text">{{section.settings.text}}</div>
            {% endif %}
            {% if section.settings.btn_text != blank %}
                <a class="btn-secondary" href="{{section.settings.btn_url}}">{{section.settings.btn_text}}{% include 'icon-cart-btn' %}</a>
            {% endif %}
        </div>
        {% if section.settings.text_second != blank %}
            <div class="description-block">
                {{section.settings.text_second}}
            </div>
        {% endif %}
        {% if template.name == 'product' or page.handle == 'our-product'%}
            {% if section.settings.btn_text != blank %}
                <a class="btn-secondary mobile-screen" href="{{section.settings.btn_url}}">{{section.settings.btn_text}}{% include 'icon-cart-btn' %}</a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% schema %}
{
  "name": "Instruction Section",
    "settings": [
        {
            "type": "url",
            "id": "btn_url_top",
            "label": "Btn Url Top"
        },
        {
            "type": "text",
            "id": "btn_text_top",
            "label": "Btn Text Top"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "info": "Choose Bold to change the color"
        },
        {
            "type": "richtext",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "richtext",
            "id": "text_second",
            "label": "Text Second Section",
            "info": "Select link and the color change"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Btn Url Bottom"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Btn Text Bottom"
        }
    ],
    "presets": [
        {
        "name": "Instruction Section"
        }
    ]
}
{% endschema %}