{{ 'home-page.css' | asset_url | stylesheet_tag }}
{{ 'page-investor-information.css' | asset_url | stylesheet_tag }}
{% if section.settings.background != blank %}
    <style>
        @media only screen and (min-width: 990px){
            .main-banner{
                background-image: url('{{section.settings.background | img_url: 'master' }}')
            }
        }
    </style>
{% endif %}
{% if section.settings.background_mobile != blank %}
    <style>
        @media only screen and (max-width: 989px){
            .main-banner{
                    background-image: url('{{section.settings.background_mobile | img_url: 'master' }}')
            }
        }
    </style>
{% endif %}
<section class="main-banner background-image">
    <div class="page-width-desktop main-banner__container" data-aos="fade-up">
        <div class="main-banner__text">
            {% if section.settings.btn_text != blank %}
                <a class="btn-primary" href="{{section.settings.btn_url}}">{{section.settings.btn_text}}</a>
            {% endif %}
            {% if section.settings.title != blank %}
                <h1 class="h1">{{section.settings.title}}</h1>
            {% endif %}
            {% if section.settings.subtitle != blank %}
                <h5 class="h5">{{section.settings.subtitle}}</h1>
            {% endif %}
            {% if section.settings.text != blank %}
                <p class="description">{{section.settings.text}}</p>
            {% endif %}
            {% if section.settings.social_1 != blank or section.settings.social_2 != blank %}
                <div class="wrapper-image desktop-screen">
                    {% if section.settings.social_1 != blank %}
                        <a href="{{section.settings.url_1}}"><img src="{{section.settings.social_1 | img_url: 'master' }}" alt=""></a>
                    {% endif %}
                    {% if section.settings.social_2 != blank %}
                        <a href="{{section.settings.url_2}}"><img src="{{section.settings.social_2 | img_url: 'master' }}" alt=""></a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="main-banner__position">
            {% if section.settings.main_photo != blank %}
                <div class="main-banner__image">
                    <img src="{{section.settings.main_photo | img_url: 'master' }}" alt="">
                    {% if section.settings.border_photo != blank %}
                        <img class="border-image" src="{{section.settings.border_photo | img_url: 'master' }}" alt="">
                    {% endif %}
                </div>
            {% endif %}
            {% if section.settings.fix_photo != blank %}
                <div class="main-banner__fixed">
                    <div class="circle-background">
                        <img class="second-photo" src="{{section.settings.fix_photo_second | img_url: 'master' }}" alt="">
                        <img class="main-photo" src="{{section.settings.fix_photo | img_url: 'master' }}" alt="">
                    </div>
                </div>
            {% endif %}
        </div>
        {% if section.settings.social_1 != blank or section.settings.social_2 != blank %}
            <div class="wrapper-image mobile-screen">
                {% if section.settings.social_1 != blank %}
                    <a href="{{section.settings.url_1}}"><img src="{{section.settings.social_1 | img_url: 'master' }}" alt=""></a>
                {% endif %}
                {% if section.settings.social_2 != blank %}
                    <a href="{{section.settings.url_2}}"><img src="{{section.settings.social_2 | img_url: 'master' }}" alt=""></a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</section>
{% schema %}
{
  "name": "Main Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background Desktop"
        },
        {
            "type": "image_picker",
            "id": "background_mobile",
            "label": "Background Mobile"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Btn Text"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Btn Url"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "info": "Choose Bold to change the color"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "url",
            "id": "url_1",
            "label": "Social Url 1"
        },
        {
            "type": "url",
            "id": "url_2",
            "label": "Social Url 2"
        },
        {
            "type": "image_picker",
            "id": "social_1",
            "label": "Social Image 1"
        },
        {
            "type": "image_picker",
            "id": "social_2",
            "label": "Social Image 2"
        },
        {
            "type": "image_picker",
            "id": "main_photo",
            "label": "Main Photo"
        },
        {
            "type": "image_picker",
            "id": "border_photo",
            "label": "Border Photo"
        },
        {
            "type": "image_picker",
            "id": "fix_photo",
            "label": "Fix Center Photo"
        },
        {
            "type": "image_picker",
            "id": "fix_photo_second",
            "label": "Fix Photo volume"
        }
    ],
    "presets": [
        {
        "name": "Main Banner"
        }
    ]
}
{% endschema %}


<style>
  .description {
    color: red;
  }
</style>