{{ 'home-page.css' | asset_url | stylesheet_tag }}
<section class="main-banner" {% if section.settings.background != blank %}
    style="background-image: url('{{section.settings.background | img_url: 'master' }}')"{% endif %} >
    <div class="page-width-desktop main-banner__container">
        <div class="main-banner__text">
            {% if section.settings.title %}
                <h1>{{section.settings.title}}</h1>
            {% endif %}
            {% if section.settings.text %}
                <p class="description">{{section.settings.text}}</p>
            {% endif %}
            <div class="wrapper-image">
                {% if section.settings.social_1 %}
                    <a href="{{section.settings.url_1}}"><img src="{{section.settings.social_1 | img_url: 'master' }}" alt=""></a>
                {% endif %}
                {% if section.settings.social_2 %}
                    <a href="{{section.settings.url_2}}"><img src="{{section.settings.social_2 | img_url: 'master' }}" alt=""></a>
                {% endif %}
            </div>
        </div>
        {% if section.settings.main_photo %}
            <div class="main-banner__image">
                <img src="{{section.settings.main_photo | img_url: 'master' }}" alt="">
            </div>
        {% endif %}
        {% if section.settings.fix_photo %}
            <div class="main-banner__fixed">
                <div class="circle-background">
                    <img class="second-photo" src="{{section.settings.fix_photo_second | img_url: 'master' }}" alt="">
                    <img class="main-photo" src="{{section.settings.fix_photo | img_url: 'master' }}" alt="">
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% schema %}
{
  "name": "Main Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "url",
            "id": "url_1",
            "label": "Social Url 1"
        },
        {
            "type": "url",
            "id": "url_2",
            "label": "Social Url 2"
        },
        {
            "type": "image_picker",
            "id": "social_1",
            "label": "Social Image 1"
        },
        {
            "type": "image_picker",
            "id": "social_2",
            "label": "Social Image 2"
        },
        {
            "type": "image_picker",
            "id": "main_photo",
            "label": "Main Photo"
        },
        {
            "type": "image_picker",
            "id": "fix_photo",
            "label": "Fix Center Photo"
        },
        {
            "type": "image_picker",
            "id": "fix_photo_second",
            "label": "Fix Photo volume"
        }
    ],
    "presets": [
        {
        "name": "Main Banner"
        }
    ]
}
{% endschema %}
