{{ 'page-our-product.css' | asset_url | stylesheet_tag }}
{% if section.settings.background != blank %}
    <style>
        @media only screen and (min-width: 990px){
            .our-product-info{
                background-image: url('{{section.settings.background | img_url: 'master' }}')
            }
        }
    </style>
{% endif %}
{% if section.settings.background_mobile != blank %}
    <style>
        @media only screen and (max-width: 989px){
            .our-product-info{
                    background-image: url('{{section.settings.background_mobile | img_url: 'master' }}')
            }
        }
    </style>
{% endif %}
<div class="our-product-info background-image">
    <div class="page-width-desktop info-section__blocks">
        <div class="second_block">
            {% if section.settings.btn_text != blank %}
                <a class="btn-primary" href="{{section.settings.btn_url}}">{{section.settings.btn_text}}</a>
            {% endif %}
            {% if section.settings.title != blank %}
                <h2 class="h2">{{section.settings.title}}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                <div class="text">{{section.settings.text}}</div>
            {% endif %}
        </div>
        {% if section.settings.text_second != blank %}
            <div class="first_block">
                    <h6>{{section.settings.text_second}}</h6>
            </div>
        {% endif %}
    </div>
</div>
{% schema %}
{
  "name": "Info Section",
    "settings": [
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background Desktop"
        },
        {
            "type": "image_picker",
            "id": "background_mobile",
            "label": "Background Mobile"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Btn Text"
        },
        {
            "type": "text",
            "id": "btn_url",
            "label": "Btn Url"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "info": "Choose Bold to change the color"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "richtext",
            "id": "text_second",
            "label": "Text Second Section"
        }
    ]
}
{% endschema %}