<div class="testimonials__container page-width-desktop">
    {% if section.settings.title %}
        <h2 class="h2">{{section.settings.title}}</h5>
    {% endif %}
    <div class="swiper swiper-testimonials">
        <div class="block-wrapper swiper-wrapper">
            {%- for block in section.blocks -%}
                <div class="swiper-slide">
                    <div class="swiper-slide__content">
                        {% if block.settings.image != blank %}
                            <div class="video-container">
                                <img src="{{block.settings.image | img_url: 'master' }}" alt="">
                            </div>
                        {% endif %}
                        <div class="swiper-testimonials__content">
                            <h5>{{block.settings.title}}</h5>
                            <div class="text">{{block.settings.text}}</div>
                            <div class="swiper-testimonials__flex">
                                {% if block.settings.author_image != blank %}
                                    <div class="swiper-testimonials__author">
                                        <img src="{{block.settings.author_image | img_url: 'master' }}" alt="">
                                        <p>{{block.settings.author_name}}</p>
                                    </div>
                                {% endif %}
                                {% if block.settings.date_image != blank %}
                                    <div class="swiper-testimonials__date">
                                        <p>{{block.settings.date}}</p>
                                        <img src="{{block.settings.date_image | img_url: 'master' }}" alt="">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-prev">{% include 'icon-arrow-left' %}</div>
        <div class="swiper-button-next">{% include 'icon-arrow-right' %}</div>
        <div class="pagination mobile-screen">
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

<script>
      new Swiper(".swiper-testimonials", {
        slidesPerView: 1,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            enabled: true
        }
  });
</script>
{% schema %}
{
  "name": "Testimonials",
    "settings": [
        {
            "type": "richtext",
            "id": "title",
            "label": "Title"
        }
    ],
    "blocks": [
    {
        "type": "block",
        "name": "Block",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "image_picker",
                "id": "author_image",
                "label": "Author Photo"
            },
            {
                "type": "text",
                "id": "author_name",
                "label": "Author Name"
            },
            {
                "type": "text",
                "id": "date",
                "label": "Date"
            },
            {
                "type": "image_picker",
                "id": "date_image",
                "label": "Date Icon"
            }
        ]
    }

    ],
    "presets": [
        {
        "name": "Testimonials"
        }
    ]
}
{% endschema %}
